name: Node CI

on:
- push
- pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update npm
      run: |
        npm i -g npm@^7.x
    - name: Install npm dependencies
      run: |
        npm ci
        node node_modules/puppeteer/install.js
      env:
        CI: true
    - name: lint code
      run: npm run lint
      env:
        CI: true
    - name: compile project
      run: npm run build
      env:
        CI: true
    - name: run unit tests
      run: xvfb-run --auto-servernum npm run test:unit
      env:
        CI: true
    - name: run smoke tests
      run: xvfb-run --auto-servernum npm run test:smoke
      env:
        CI: true
